body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
  }

  
  
  button {
    width: 40px;
    height: 40px;
    margin: 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-style: solid;
    outline: none;
    box-sizing: border-box;
    vertical-align: middle; /* 新增 */
  }
  
  button:hover {
    background-color: #eee;
  }
  
  button:disabled {
    background-color: #ddd;
  }
  
  button:focus {
    outline: none;
  }
  
  button.X {
    background-color: #89f9b8a6;
    color: #2cbd69;
    font-weight:bolder;
  }
  
  button.O {
    background-color: #f0d1d1b6;
    color: #d77f7f;
    font-weight:bolder;
  }
  
  div.status {
    margin: 20px;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e39292;
  }

  .title{
    margin: 0px;
    font-size: 25px;
    margin-bottom: -20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e39292;
    font-style: normal;
  }

  button:active {
    border: 1px solid #ccc;
    outline: none;
    box-shadow: none;
  }

  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* 视口的高度 */
  }

  @media only screen and (max-width: 600px) {
    button {
      width: 22px;
      height: 22px;
    }
    
    div.status {
      font-size: 25px;
    }
  }
  